:host {
  display: block;
}

details {
  height: 100%;
}

details > div {
  display: grid;
  grid-template-columns: min-content max-content;
  height: calc(100% - 69px);
}

details[open] > div {
  min-width: 250px;
}

summary {
  list-style-type: none;
  place-self: center;
  color: black;
  display: flex;
  align-items: center;
  background: white;
  height: 69px;
  min-width: 40px;
}

summary svg {
  fill: currentColor;
  display: block;
  margin-left: 8px;
}

section {
  max-height: 100%;
}

#users {
  padding: 8px;
  flex: 1;
  overflow-y: scroll;
}

.user {
  padding: 4px;
  align-items: center;
  color: white;
}

.invisible {
  opacity: 0;
}

.status {
  border-radius: 100%;
  display: inline-block;
  font-size: 12px;
  font-weight: lighter;
  height: 14px;
  margin-right: 4px;
  text-transform: lowercase;
  width: 14px;
}

.status::first-letter {
  text-transform: uppercase;
}

.online {
  background: limegreen;
}

.offline {
  background: lightgrey;
}

header {
  color: white;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 12px;
  padding: 4px;
}

.nick {
  flex: 1 0 100%;
}

header .nick {
  flex: 1 1 auto;
}
