:host {
  display: flex;
  overflow-y: scroll;
  flex-direction: column-reverse;
}

.message {
  display: grid;
  gap: 6px;
  grid-template:
    'i n d' 1fr
    'i m m' max-content / 40px auto auto;
}

.message::before {
  grid-area: i;
  align-items: center;
  background: hsla(calc(var(--hue-coeff) * var(--primary-hue)) var(--saturation, 20%) 50% / 0.3);
  border-radius: 5px;
  content: attr(data-initial);
  display: flex;
  font-weight: bold;
  height: 40px;
  justify-content: center;
  text-align: center;
  width: 40px;
}

apollo-mutation {
  display: none;
}

.message .edit-toggle {
  display: inline-block;
}

.message.editing .edit-toggle {
  display: none;
}

.message.editing apollo-mutation {
  display: flex;
  gap: 6px;
  flex: 1 0 auto;
}

input {
  background: transparent;
  color: inherit;
  border: none;
  border-bottom: 1px solid currentColor;
  flex: 1 0 auto;
  font-size: inherit;
  font-family: inherit;
  margin-top: -10px;
  margin-left: -2px;
  outline: none;
}

input:not(:focus) {
  border-bottom-color: grey;
}

button {
  background: none;
  border: none;
  color: currentColor;
}

button svg {
  fill: currentColor;
}

button:focus,
button:hover {
  background-color: grey;
}

ol {
  list-style-type: none;
  margin: 0;
  padding-left: var(--messages-padding-left);
}

.nick {
  font-weight: bold;
  width: 100%;
  grid-area: n;
}

time {
  font-size: 75%;
  font-weight: lighter;
  opacity: 0.9;
  grid-area: d;
  justify-self: end;
}

.message-container {
  grid-area: m;
  display: flex;
  justify-content: space-between
}

.message.editing .text {
  display: none;
}

@media (min-width: 400px) {
  time {
    font-size: 80%;
  }
}

.message.online::before {
  --saturation: 50%;
}
