.message {
  display: grid;
  gap: 6px;
  grid-template:
    'i n d' 1fr
    'i m m' max-content / 40px auto auto;
}

.message::before {
  grid-area: i;
  align-items: center;
  background: hsla(calc(var(--hue-coeff) * var(--primary-hue)) var(--saturation, 50%) 50% / 0.3);
  border-radius: 5px;
  content: attr(data-initial);
  display: flex;
  font-weight: bold;
  height: 40px;
  justify-content: center;
  text-align: center;
  width: 40px;
}

ol {
  list-style-type: none;
  margin: 0;
  padding-left: var(--messages-padding-left);
}

.nick {
  font-weight: bold;
  width: 100%;
  grid-area: n;
}

time {
  font-size: 75%;
  font-weight: lighter;
  opacity: 0.9;
  grid-area: d;
  justify-self: end;
}

.text {
  grid-area: m;
}

@media (min-width: 400px) {
  time {
    font-size: 80%;
  }
}
